:root {
  --s: calc(max(2.4vh, 2.4vw) - .06rem);
  font: var(--s)/1 sans-serif;
}
body {
  margin: 0;
  background: var(--bg-color);
  font-family: var(--font);
  --ui-font: 14px/1 var(--font);
}
#c {
  font-weight: bold;
  color: #444;
  padding: 1em;
}
#d {
}
ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style: none;
  line-height: 1.8rem;
  margin: 2rem;
  padding: 0;
}
li {
  position: relative;
  width: 2rem;
  height: 2rem;
  box-sizing: border-box;
  text-align: center;
  text-transform: lowercase;
  border-radius: 25%;
  background: linear-gradient(to bottom right, #eeb, #dda);
  box-shadow: 0.2rem 0.2rem 0.5rem #cc8,
            -0.2rem -0.2rem 0.5rem #ffc;
}
li.a {
  display: block !important;
}
li.a:after {
  content: '';
  position: absolute;
  top: -0.3rem;
  left: -0.3rem;
  right: -0.3rem;
  bottom: -0.3rem;
  border-radius: 25%;
  border: 0.3rem solid #444;
  transform: translateZ(1px);
  z-index: 1;
}
#w, #m {
  color: #000;
  font-size: 0.75rem;
  line-height: 1.95rem;
}
#t {
  display: flex;
}
#h li, #u li {
  position: absolute;
}
#h li, #u li {
  display: none;
}
#h li.a:after, #u li.a:after {
  display: none;
}
#sel {
  position: fixed;
  right: 2em;
  top: 1em;
  font: var(--ui-font);
}
#sel select {
  background: var(--bg-color);
  border: 1px solid var(--ui-color);
  color: var(--ui-color);
  padding: 0.3em 1.9em 0.3em 0.8em;
  appearance: none;
  outline: none;
  font: var(--ui-font);
}
#sel:after {
  content: '▾';
  position: absolute;
  top:0.1em;
  font-size: 1.4em;
  color: var(--ui-color);
  right:0.5em;
  pointer-events: none;
}
#sel:hover select {
  background: var(--ui-color);
  color: var(--bg-color);
}
#sel:hover:after {
  color: var(--bg-color);
}
#noko {
  position: fixed;
  right: 2em;
  bottom: 1em;
  color: var(--ui-color);
  font: var(--ui-font);
}
#noko > a {
  color: inherit;
}
#t {
  margin: 0 2rem;
}
#t > div {
  position: relative;
  perspective: 300px;
  width: 3em;
  height: 3em;
  margin-right: 0.25em;
}
#t > div > div {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 2em;
  line-height: 1.2;
  width: auto;
  height: auto;
  box-shadow: none;
  background:var(--ui-color);
  color: var(--bg-color);
  border-radius: 10%;
  font-variant-numeric: tabular-nums;
}

/*70s*/
@keyframes flip-p {
  0% { transform: rotateX(0.001deg); background-color: #5a3d2b; }
  to { transform: rotateX(-180.01deg); background-color: #1e120b; }
}
@keyframes flip-n {
  0% { transform: rotateX(179.999deg); background-color: #1e120b; }
  to { transform: rotateX(0.01deg); background-color: #5a3d2b; }
}
@font-face {
  font-family: 'Plastic';
  src: url('c.woff2') format('woff2');
  font-weight: normal;
}
body.plastic {
  --ui-color: #5a3d2b;
  --bg-color: #f4a127;
  --font: 'Plastic', serif;
  --flip-speed: 0.5s;
  --flip-gap: 0.05em;
}
body.plastic ul {
  line-height: 2.1rem;
}
body.plastic #w, body.plastic #m {
  line-height: 2.1rem;
}
body.plastic li {
  color: #5a3d2b;
  background: linear-gradient(to bottom right, #f4a127, #f4a127);
  box-shadow: 0.2rem 0.2rem 0.5rem #ce8923,
            -0.2rem -0.2rem 0.5rem #f9b24a;
}
body.plastic li.a:after {
  border-color: #5a3d2b;
}
body.plastic #t {
  margin: 0 2rem;
}
body.plastic #t > div > div {
  line-height: 1.57em;
}
body.plastic #t > div .c {
  clip-path: inset(0 0 50% 0);
  z-index: 0;
}
body.plastic #t > div .c2 {
  top: var(--flip-gap);
  clip-path: inset(50% 0 0 0);
  z-index: 0;
}
body.plastic #t > div .n {
  top: var(--flip-gap);
  clip-path: inset(50% 0 0 0);
  backface-visibility: hidden;
  transform: rotateX(181deg);
  background-color: #1e120b;
  z-index: 1;
}
body.plastic #t > div .n.anim {
  animation: flip-n var(--flip-speed) forwards;
}
body.plastic #t > div .p {
  clip-path: inset(0 0 50% 0);
  backface-visibility: hidden;
  transform: rotateX(1deg);
  background-color: #5a3d2b;
  z-index: 1;
}
body.plastic #t > div .p.anim {
  animation: flip-p var(--flip-speed) forwards;
}
/*80s*/
@keyframes fade-p {
  0% { opacity: 1; }
  to { opacity: 0; }
}
@font-face {
  font-family: 'Anonymous Pro';
  src: url('AnonymousPro-Regular.woff2') format('woff2');
  font-weight: normal;
}
body.memphis {
  --ui-color: #000;
  --bg-color: #fff;
  --font: 'Anonymous Pro', monospace;
  background: url(memphis3.png) repeat;
}
body.memphis li {
  border-radius: 50%;
  background: #ffe106;
  box-shadow: none;
  text-transform: uppercase;
}
body.memphis #d li.a {
  color: #ffe106;
  background: #000;
}
body.memphis #d li {
  color: #000;
  line-height: 2;
}
body.memphis #w li {
  color: #000;
  background: #04d6f9;
}
body.memphis #w li.a {
  color: #04d6f9;
  background: #000;
}
body.memphis #m li {
  color: #000;
  background: #f95fa5;
}
body.memphis #m li.a {
  color: #f95fa5;
  background: #000;
}
body.memphis li.a:after {
  border-color: #000;
  border-radius: 50%;
  top: -0.4rem;
  left: -0.4rem;
  right: -0.4rem;
  bottom: -0.4rem;
}
body.memphis #t {
  justify-content: end;
  transform: translateY(3em) rotate(-14deg);
}
body.memphis #t > div {
  width: 5em;
  height: 5em;
  opacity: 0.99;
}
body.memphis #t > div > div {
  font: 3.3em/1.5 var(--font), monospace;
  border-radius: 50%;
}
body.memphis #t > #th > div {
  background: #ffe106;
  color: #f95fa5;
}
body.memphis #t > #tm > div {
  background: #04d6f9;
  color: #000;
}
body.memphis #t > #ts > div {
  background: #f95fa5;
  color: #ffe106;
}
body.memphis #t > div .c, body.memphis #t > div .c2 {
  display: none;
}
body.memphis #t > div .p.anim {
  animation: fade-p 1s forwards;
}
body.memphis #noko {
  background: #fff;
  padding: 0.2em 1em;
}