:root {
  font: 1rem/1 sans-serif;
  font-size: 1rem;
}
html, body {
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  box-sizing: border-box;
  background: var(--bg-color);
  font-family: var(--font);
  --ui-font: 14px/1 var(--font);
  padding: calc(env(safe-area-inset-top) + 2em) calc(env(safe-area-inset-right) + 5vw) env(safe-area-inset-bottom) calc(env(safe-area-inset-left) + 5vw);
}
ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style: none;
  line-height: 1.8rem;
  margin: 2rem;
  padding: 0;
}
li {
  position: relative;
  width: 2rem;
  height: 2rem;
  box-sizing: border-box;
  text-align: center;
  text-transform: lowercase;
  /*border-radius: 25%;
  background: linear-gradient(to bottom right, #eeb, #dda);
  box-shadow: 0.2rem 0.2rem 0.5rem #cc8,
            -0.2rem -0.2rem 0.5rem #ffc;*/
}
li.a {
  display: block !important;
}
li.a:after {
  content: '';
  position: absolute;
  top: -0.3rem;
  left: -0.3rem;
  right: -0.3rem;
  bottom: -0.3rem;
  border-radius: 25%;
  border: 0.3rem solid #444;
  transform: translateZ(1px);
  z-index: 1;
}
#t {
  display: flex;
}
#h li, #u li {
  position: absolute;
}
#h li, #u li {
  display: none;
}
#h li.a:after, #u li.a:after {
  display: none;
}
#sel {
  font: var(--ui-font);
  position: fixed;
  right: 2em;
  top: 1em;
  top: calc(1em + env(safe-area-inset-top));
}
#sel select {
  background: var(--bg-color);
  border: 1px solid var(--ui-color);
  color: var(--ui-color);
  padding: 0.3em 1.9em 0.3em 0.8em;
  appearance: none;
  outline: none;
  font: var(--ui-font);
}
#sel:after {
  content: '▾';
  position: absolute;
  top:0.1em;
  font-size: 1.4em;
  color: var(--ui-color);
  right:0.5em;
  pointer-events: none;
}
#sel:hover select {
  background: var(--ui-color);
  color: var(--bg-color);
}
#sel:hover:after {
  color: var(--bg-color);
}
#noko {
  position: fixed;
  right: 2em;
  color: var(--ui-color);
  font: var(--ui-font);
  bottom: 1em;
  bottom: calc(1em + env(safe-area-inset-bottom));
}
#noko > a {
  color: inherit;
}
#t {
  margin: 0 2rem;
}
#t > div {
  position: relative;
  perspective: 300px;
  width: 3rem;
  height: 3rem;
  margin-right: 0.25rem;
}
#t > div > div {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 2rem;
  line-height: 1.2;
  width: auto;
  height: auto;
  box-shadow: none;
  background:var(--ui-color);
  color: var(--bg-color);
  border-radius: 10%;
  font-variant-numeric: tabular-nums;
}

/*70s*/
@keyframes flip-p {
  0% { transform: rotateX(0.001deg); background-color: #5a3d2b; }
  to { transform: rotateX(-180.01deg); background-color: #1e120b; }
}
@keyframes flip-n {
  0% { transform: rotateX(179.999deg); background-color: #1e120b; }
  to { transform: rotateX(0.01deg); background-color: #5a3d2b; }
}
@font-face {
  font-family: 'Plastic';
  src: url('c.woff2') format('woff2');
  font-weight: normal;
}
body.plastic {
  --ui-color: #5a3d2b;
  --bg-color: #f4a127;
  --font: 'Plastic', serif;
  --flip-speed: 0.5s;
  --flip-gap: 0.02em;
}
body.plastic ul {
  line-height: 2.1rem;
}
body.plastic li {
  font-size: 0.8rem;
  border-radius: 25%;
}
body.plastic #w, body.plastic #m {
  line-height: 2.1rem;
}
body.plastic li {
  color: #5a3d2b;
  background: linear-gradient(to bottom right, #f4a127, #f4a127);
  box-shadow: 0.2rem 0.2rem 0.5rem #ce8923,
            -0.2rem -0.2rem 0.5rem #f9b24a;
}
body.plastic li.a:after {
  border-color: #5a3d2b;
}
body.plastic #t {
  margin: 0 2rem;
}
body.plastic #t > div > div {
  line-height: 1.6em;
}
body.plastic #t > div .c {
  clip-path: inset(0 0 50% 0);
  z-index: 0;
}
body.plastic #t > div .c2 {
  top: var(--flip-gap);
  clip-path: inset(50% 0 0 0);
  z-index: 0;
}
body.plastic #t > div .n {
  top: var(--flip-gap);
  clip-path: inset(50% 0 0 0);
  backface-visibility: hidden;
  transform: rotateX(181deg);
  background-color: #1e120b;
  z-index: 1;
}
body.plastic #t > div .n.anim {
  animation: flip-n var(--flip-speed) forwards;
}
body.plastic #t > div .p {
  clip-path: inset(0 0 50% 0);
  backface-visibility: hidden;
  transform: rotateX(1deg);
  background-color: #5a3d2b;
  z-index: 1;
}
body.plastic #t > div .p.anim {
  animation: flip-p var(--flip-speed) forwards;
}
/*80s*/
@keyframes fade-p {
  0% { opacity: 1; }
  to { opacity: 0; }
}
@font-face {
  font-family: 'Anonymous Pro';
  src: url('AnonymousPro-Regular.woff2') format('woff2');
  font-weight: normal;
}
body.memphis {
  --ui-color: #000;
  --bg-color: #fff;
  --font: 'Anonymous Pro', monospace;
  background: url(memphis3.png) repeat;
}
body.memphis li {
  border-radius: 50%;
  background: #ffe106;
  box-shadow: none;
  text-transform: uppercase;
  color: #000;
  line-height: 2.1;
  font-size: 0.9em;
}
body.memphis #d li {
  font-size: 1.2em;
  line-height: 1.65;
  text-indent: 0.1em;
}
body.memphis #d li.a {
  color: #ffe106;
  background: #000;
}
body.memphis #w li {
  color: #000;
  background: #04d6f9;
}
body.memphis #w li.a {
  color: #04d6f9;
  background: #000;
}
body.memphis #m li {
  color: #000;
  background: #f95fa5;
}
body.memphis #m li.a {
  color: #f95fa5;
  background: #000;
}
body.memphis li.a:after {
  border-color: #000;
  border-radius: 50%;
  top: -0.4rem;
  left: -0.4rem;
  right: -0.4rem;
  bottom: -0.4rem;
}
body.memphis #t {
  transform: translateY(3em) rotate(-14deg);
  position: relative;
  display: table;
  float: right;
}
body.memphis #t > div {
  display: table-cell;
  width: 5em;
  height: 5em;
  opacity: 0.99;
}
body.memphis #t > div > div {
  font: 3.3em/1.5 var(--font), monospace;
  border-radius: 50%;
  text-indent: 0.1em;
}
body.memphis #t > #th > div {
  background: #ffe106;
  color: #f95fa5;
}
body.memphis #t > #tm > div {
  background: #04d6f9;
  color: #000;
}
body.memphis #t > #ts > div {
  background: #f95fa5;
  color: #ffe106;
}
body.memphis #t > div .c, body.memphis #t > div .c2 {
  display: none;
}
body.memphis #t > div .p.anim {
  animation: fade-p 1s forwards;
}
body.memphis #noko {
  background: #fff;
  padding: 0.2em 1em;
}
/* also 1980s */
@font-face {
  font-family: 'C64';
  src: url('c64.woff2') format('woff2');
  font-weight: normal;
}
body.keeping-up {
  --ui-color: #2e2c9b;
  --bg-color: #2e2c9b;
  --font: 'C64', monospace;
  --font-size: 0.65rem;
  --line-height: 3;
  border: 2rem solid #706deb;
  -webkit-font-smoothing: none;
}
body.keeping-up #sel {
  padding-right: 0.2rem;
  right: 1.75rem;
}
body.keeping-up #noko {
  right: 2rem;
}
body.keeping-up #sel:after {
  content: 'Ù';
  transform: rotate(45deg) scale(0.7);
}
body.keeping-up #sel select {
  border: none;
  background: none;
}
body.keeping-up #c {
  margin-top: -2rem;
}
body.keeping-up li {
  border-radius: 0;
  background: transparent;/* var(--ui-color);*/
  box-shadow: none;
  text-transform: uppercase;
  color: #edf171;
  line-height: var(--line-height);
  font-size: var(--font-size);
  text-align: left;
  text-indent: 0.05em;
}
body.keeping-up li.a {
  background: #706deb;
}
body.keeping-up li.a:after {
  display: none;
  border-radius: 0;
  border: 0.35rem solid #fff;
}
body.keeping-up #d li {
  color: #fff;
}
body.keeping-up #t > div {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}
body.keeping-up #t > div > div {
  background: #75cec8;
  border-radius: 0;
  line-height: var(--line-height);
  font-size: var(--font-size);
  text-align: left;
}
/* 1960s */
@keyframes untype-p {
  0%, 50% { clip-path: inset(0 60% 0 0); }
  51%, to {  clip-path: inset(0 100% 0 0); }
}
@keyframes type-n {
  0%, 79% { clip-path: inset(0 100% 0 0); }
  80%, 99% { clip-path: inset(0 60% 0 0); }
  to {  clip-path: inset(0 0 0 0); }
}
@font-face {
  font-family: 'Golf';
  src: url('ball.woff') format('woff');
  font-weight: normal;
}
body.golf-ball {
  --ui-color: #223;
  --bg-color: #f1e6d1;
  --font: 'Golf', monospace;
  --font-size: 1rem;
  --line-height: 2;
  background: repeat url(fibers.png), #f1e6d1;
}
body.golf-ball li {
  text-align: left;
}
body.golf-ball li.a {
  color: #a12;
}
body.golf-ball li.a:after {
  content: '___';
  transform: rotate(-0.5deg);
  color: #a12;
  border: none;
  line-height: 1.83;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body.golf-ball #d li.a:after {
  content: '__';
}
body.golf-ball #t > div > div {
  background: none;
  color: var(--ui-color);
  text-align: left;
}
body.golf-ball #t .p.anim {
  x-animation: 0.1s linear forwards untype-p;
}
body.golf-ball #t .n.anim {
  x-animation: 0.2s linear forwards type-n;
}
body.golf-ball #t .p, body.golf-ball #t .c, body.golf-ball #t .c2 {
  display: none;
}
body.golf-ball #t #ts > div {
  color: #a12;
}
body.golf-ball #t #th:after,
body.golf-ball #t #tm:after {
  content: ':';
  position: absolute;
  right: -0.3em;
  bottom: 0.4em;
  font-size: 2em;
}
body.golf-ball #t #tm:after {
  content: ':';
  color: #a12;
}